<div class="container-fluid">
  <div class="card mat-card" id="first-card">
    <div id="profile-background">
      <img [src]="miPortfolio.backImage" alt="..." width="1000" height="700" />
    </div>
    <div id="info" style="padding: 16px">
      <div id="info-img">
        <img class="profile-image" [src]="miPortfolio.image" />
        <div class="btn-edit">
          <a href="#" class="btn-prfl-right"><i class="fa-solid fa-pen"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-8 col-md-6 col-sm-3 col-2">
          <div id="info-data">
            <div>
              <h1>{{ miPortfolio.name }}</h1>
              <div id="info-company">
                {{ miPortfolio.position }} en {{ miPortfolio.university.name }}
              </div>
              <div id="info-contact">
                <span>{{ miPortfolio.ubication }}</span>
                <span><a href="#">Información de contacto</a></span>
              </div>
            </div>
          </div>
          <div id="info-actions">
            <button type="button" class="btn btn-primary">
              Tengo interés en
            </button>
            <button type="button" class="btn btn-light">Añadir sección</button>
            <button type="button" class="btn btn-light">Más</button>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-9 col-10">
          <div class="info-data d-flex justify-content-end">
              <ul id="info-details">
                <li>
                  <a [href]="miPortfolio.university.url">
                    <img [src]="miPortfolio.university.img" />
                    <h2>{{ miPortfolio.university.name }}</h2>
                  </a>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
