<div class="container-fluid">
    <div class="card mat-card">
        <div class="row">
            <div class="col-11">
                <div class="proyects-title">
                    <h2 class="skills-title me-auto" style="padding-bottom: 20px">Proyectos</h2>    
                </div>
            </div>
            <div class="col-1">
                <div class="proyects-add d-flex justify-content-end">
                    <a href="#" class="btn-right"><i class="fa fa-plus"></i></a>    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-11">
                <div class="proyect-name">
                    <a href="#" class="proyect-link"><h2>Portafolio web</h2></a>
                </div>
                <div class="proyect-description">    
                    <p>Portafolio web impulsado por el programa Argentina Programa, utilizando tecnologías como HTML, CSS,
                        Bootstrap, Typescript y Angular.
                    </p>
                </div>
            </div>
            <div class="col-1">
                <div class="skills-edit d-flex justify-content-start">
                    <a href="#" class="btn-right"><i class="fa fa-pen pe-4"></i></a>
                    <a href="#" class="btn-right"><i class="fa-solid fa-trash"></i></a> 
                </div>   
            </div>
        </div>
    </div>
</div>