<div class="container-fluid">
    <div class="card mat-card"> 
        <div class="row">
            <div class="col-11">
                <h2 class="skills-title me-auto" style="padding-bottom: 20px">Hard Skills & Soft Skills</h2>
            </div>
            <div class="col-1 d-flex justify-content-end">
                <a href="#" class="btn-right"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        <div class="skills-details">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="skills-first d-flex justify-content-center">
                        <h5>Compromiso</h5>
                    </div>        
                </div>
                <div class="col-2">
                    <div class="skills-edit d-flex justify-content-start">
                        <a href="#" class="btn-right"><i class="fa fa-pen pe-4"></i></a>
                        <a href="#" class="btn-right"><i class="fa-solid fa-trash"></i></a> 
                    </div>            
                </div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100"></div>
                    </div>                 
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <div class="skills-details">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="skills-first d-flex justify-content-center">
                        <h5>Flexibilidad</h5>
                    </div>        
                </div>
                <div class="col-2">
                    <div class="skills-edit d-flex justify-content-start">
                        <a href="#" class="btn-right"><i class="fa fa-pen pe-4"></i></a>
                        <a href="#" class="btn-right"><i class="fa-solid fa-trash"></i></a> 
                    </div>            
                </div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 65%" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100"></div>
                    </div>                 
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <div class="skills-details">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="skills-first d-flex justify-content-center">
                        <h5>Trabajo en equipo</h5>
                    </div>        
                </div>
                <div class="col-2">
                    <div class="skills-edit d-flex justify-content-start">
                        <a href="#" class="btn-right"><i class="fa fa-pen pe-4"></i></a>
                        <a href="#" class="btn-right"><i class="fa-solid fa-trash"></i></a> 
                    </div>            
                </div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 80%" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100"></div>
                    </div>                 
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <div class="skills-details">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="skills-first d-flex justify-content-center">
                        <h5>HTML & CSS</h5>
                    </div>        
                </div>
                <div class="col-2">
                    <div class="skills-edit d-flex justify-content-start">
                        <a href="#" class="btn-right"><i class="fa fa-pen pe-4"></i></a>
                        <a href="#" class="btn-right"><i class="fa-solid fa-trash"></i></a> 
                    </div>            
                </div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 60%" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100"></div>
                    </div>                 
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <div class="skills-details">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="skills-first d-flex justify-content-center">
                        <h5>Javascript</h5>
                    </div>        
                </div>
                <div class="col-2">
                    <div class="skills-edit d-flex justify-content-start">
                        <a href="#" class="btn-right"><i class="fa fa-pen pe-4"></i></a>
                        <a href="#" class="btn-right"><i class="fa-solid fa-trash"></i></a> 
                    </div>            
                </div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 35%" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100"></div>
                    </div>                 
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <div class="skills-details">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="skills-first d-flex justify-content-center">
                        <h5>TypeScript</h5>
                    </div>        
                </div>
                <div class="col-2">
                    <div class="skills-edit d-flex justify-content-start">
                        <a href="#" class="btn-right"><i class="fa fa-pen pe-4"></i></a>
                        <a href="#" class="btn-right"><i class="fa-solid fa-trash"></i></a> 
                    </div>            
                </div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 30%" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100"></div>
                    </div>                 
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>
</div>